/* Reset properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS */
body {
    font-family: lato;
    color: #fff;
    background-color: #000;
    padding-top: 40px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.border {
    border: 2px dashed #fff;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}    

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li {
    padding: 0 5px;
    text-align: center;
}

/* HEADER */
header {
    background-color: #000;
    height: 40px;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 60px;
}

.header-actions {
    height: 100%;
    gap: 10px;   
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.view-button {
    font-size: 12px;
    background-color: #4A4A4A;
    padding: 3px 4px;
    border-radius: 5px;
    line-height: 40px;
}

/* MAIN */
main {
    height: calc(100vh - 120px);
    background-color: #000;
    overflow-y: auto;
    padding: 20px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-basis: calc(100% / 7);
    padding: 5px 3px;
}

.card-img img {
    max-width: 100%;
    display: block;
}

.card-img {
    position: relative;
}

.card-img .card-mic-check {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: #000;
    opacity: 0.6;
    font-size: 10px;
}

/* FOOTER */
footer {
    background-color: #202020;
    height: 80px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.navbar {  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -5px;
}

.navbar > * {
    flex-basis: 20%;
}

.nav-user-activities > ul {
    justify-content: center;
    align-items: center;
}

.nav-user-activities {
    text-align: center;
    flex-grow: 1;
}

li > a {
    font-size: 12px;
}

.nav-icon {
    font-size: 20px;
}

.exit-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.exit-btn {
    height: 80px;
    font-size: 12px;
    padding: 0 20px;
    line-height: 80px;
    align-items: center;
    color: #ff0000;
    background-color: #4a4a4a;
}
